* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f9f9f9;
    line-height: 1.6;
}

header {
    background: linear-gradient(135deg, #e9c0de, #231327);
    
    color: #ffffff;
    padding: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 5rem;
}

.search {
    margin-right: 2rem;
}

.search input {
    padding: 1rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    width: 70%;
    background-color: #f4f4f4;
    border: 1px solid #d1d5db;
    color: #333;
    margin-left: 7rem;
}

nav {
    margin-top: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #add8e6;
}

#hamburger {
    display: none;
    cursor: pointer;
}

.registration-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form label {
    margin-bottom: 5px;
    font-weight: bold;
    align-self: flex-start;
    color: #555555;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    font-size: 1rem;
    background-color: #f9f9f9;
    border: 1px solid #d1d5db;
    color: #333333;
}

form button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #ffffff;
    background-color: #00526c;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #285f6f;
}

.required {
    color: #ff3b30;
    font-weight: bold;
}

.registration-container h1,
.employee-container h1 {
    text-align: center;
    color: #333333;
}

.employee-container {
    padding: 20px;
    text-align: center;
}

table {
    width: 100%;
    max-width: 900px;
    margin: 20px auto;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    text-align: left;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

thead {
    background-color: #00526c;
    color: #ffffff;
}

thead th {
    padding: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

tbody tr {
    border-bottom: 1px solid #e5e5e5;
    transition: background-color 0.3s ease;
}

tbody tr:nth-child(even) {
    background-color: #e9efef;
}

tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

tbody td {
    padding: 15px;
    border: 1px solid #e5e5e5;
}

.delete-icon {
    color: #e63946;
    cursor: pointer;
    transition: color 0.2s ease;
}

.delete-icon:hover {
    color: #a71d2a;
}

#pagination {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    gap: 5px;
}

#pagination button {
    padding: 10px 15px;
    border: none;
    background-color: #00526c;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

#pagination button:hover {
    background-color: #0a637e;
}

#pagination button:disabled {
    background-color: #e0e0e0;
    color: #999999;
    cursor: not-allowed;
}

footer {
    background: linear-gradient(135deg, #e9c0de, #231327);
    color: #ffffff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 768px) {
    #hamburger {
        display: block;
    }

    #menu {
        display: none;
        flex-direction: column;
        background-color: #444;
        position: absolute;
        top: 8rem;
        right: 0.5rem;
        width: 11rem;
        padding: 10px;
        border-radius: 5px;
    }

    #menu.show {
        display: flex;
    }

    nav ul li {
        margin: 5px 0;
    }

    nav ul li a {
        color: white;
        text-decoration: none;
        padding: 10px;
        display: block;
        border-radius: 3px;
    }

    .registration-container h1, .employee-container h1{
        font-size: 22px;
    }

    .employee-container{
        padding: 0px;
    }

    .search {
        margin-left: 10px;
        width: 100%;
    }

    .search input {
        font-size: 0.9rem;
    }

    #hamburger {
        display: flex;
        justify-content: flex-end;
    }

    table {
        font-size: 0.6rem;
    }

    tbody td {
        padding: 10px;
    }

    #pagination button {
        font-size: 0.9rem;
        padding: 8px 12px;
    }
}

@media (max-width: 480px) {
    table {
        width: 100%;
        font-size: 0.5rem;
    }

    tbody td {
        padding: 6px;
    }

    #pagination button {
        font-size: 0.8rem;
        padding: 6px 10px;
    }
}
@media (max-width: 400px) {
    .search input {
        font-size: 0.5rem;
        padding: 0.4rem;
        margin-left: 5rem;
    }

    .registration-container h1, .employee-container h1{
        font-size: 16px;
    }

    form {
        width: 100%;
        max-width: 100%;
        padding: 10px;
    }

    form label {
        font-size: 0.85rem;
    }

    form input, form textarea {
        font-size: 0.85rem;
        padding: 8px;
    }

    form button {
        font-size: 0.85rem;
        padding: 8px 15px;
    }

    table {
        font-size: 0.3rem;
    }

    tbody td {
        padding: 5px;
    }

    #pagination button {
        font-size: 0.7rem;
        padding: 5px 8px;
    }

    footer {
        padding: 8px;
        font-size: 0.8rem;
    }
}
